PLA6619 Introduction to Urban Data and Informatics I \
Tuesday, September 15, 2020 \
Week02

# Lab 01: Intro to Python

# 1. Check your Python version

In [2]:
import platform
print (platform.python_version())

3.7.6

# 2. Code, output, and markdown

In [3]:
10+2

12

In [4]:
print ("Hello, world!")

Hello, world!

GSAPP

## GSAPP
# GSAPP
* GSAPP \
_GSAPP_ \
__GSAPP__

# 3. Basic math
Python can handle basic math operations. Let's have a try:

In [7]:
print(10*3)

30

Let's see how order effects how code is run:

In [8]:
print(7*5+10)
print((7*5)+10)
print(7*(5+10))

45
45
105

# 4. Variables
Assigning variables:
when assigning variables you can you "=" to assign variables:

In [9]:
A = 10
B = 300
a = 5
b, c = 6, 7
D = "Hello, world!"

In [10]:
print(A)
print(a)

10
5

Reassigning variables:

In [11]:
A = 25
print(A)

25

# 5. Data Types in Programming
        type() function: print the data type of any object

### 5-1. String (text)

In [12]:
x = "GSAPP" 
print(type(x))

<class 'str'>

### 5-2. Integer and float (real)

In [15]:
y = 20 
z = 20.0
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>

### 5-3. List

In [37]:
cities = ['Chicago', 'Los Angeles', 'New York']
print(cities)

['Chicago', 'Los Angeles', 'New York']

In [38]:
cities[2]
cities[0:1]

['Chicago']

In [39]:
cities[-1]

'New York'

In [40]:
cities[1] = "San Francisco"
print(cities)

['Chicago', 'San Francisco', 'New York']

In [43]:
cities.append("Los Angeles")
print(cities)

['Chicago', 'San Francisco', 'New York', 'Los Angeles', 'Los Angeles']

In [44]:
%whos

Variable   Type      Data/Info
------------------------------
A          int       25
B          int       300
D          str       Hello, world!
a          int       5
b          int       6
c          int       7
cities     list      n=5
platform   module    <module 'platform' from '<...>b/python3.7/platform.py'>
x          str       GSAPP
y          int       20
z          float     20.0

### Exercise: create an assign variable of a list with five different countries.
* Print the first and the last items.
* Replace the third item to your last name.
* Print the list.

In [47]:
countries = ["Colombia", "Iceland", "Canada", "Ghana", "Cambodia"]
print(countries[0], countries[-1])
countries[2] = "Strand"
print(countries)

Colombia Cambodia
['Colombia', 'Iceland', 'Strand', 'Ghana', 'Cambodia']

### 5-4. Dictionary

In [50]:
dic = {"City" : "New York", "State" : "NY", "Country" : "US"}
print(dic)
print(type(dic))

{'City': 'New York', 'State': 'NY', 'Country': 'US'}
<class 'dict'>

In [52]:
print(dic["State"])
print(dic["City"])

NY
New York

In [53]:
dic.get("Country")

'US'

In [55]:
dic["City"] = "Buffalo"
print(dic)

{'City': 'Buffalo', 'State': 'NY', 'Country': 'US'}

### 5-5. Boolean

In [56]:
print(10>6)

True

# 6. Range
        range()
       

        syntax:
        range(START_NUMBER, STOP_NUMBER, STEP_NUMBER)

# 7. Calling Functions
    min()
    max()
    sum()
    len()

### Exercise: create a list with a sequence of number from 3 to 31, increment by 4, using range() and print the mean value of the items.
* Create a list and assign variable.
* Assign variables using calling functions based on needs (e.g. min, max, sum, or len)
* Print mean value of the items in the list using mathematical expression.

# 8. Writing Functions


    Syntax:
    
    def YOUR_FUNCTION_NAME(PARAMETERS):
        WRITE_YOUR_CODE_HERE

### Exercise: write a function to return average value of items in a list.

# 9. Control Statement (If-else)
* if
* elif
* else

# 10. For loops

    Syntax:
    for item in YOUR_SEQUENCE:
        do this
        do that
        ...

### Exercise: create a function to get all available combinations based on the following statements.
* Create two lists [1, 3, 5, 7] and [2, 4, 6, 8] using a range() function.
* Print out all available combinations of two items from each list if a multiplication result is not 12. For example, 3 and 4 shouldn't be printed out.
* Break a script once a for loop takes 7 from the first list.
Ideal output would be 
        1 2
        1 4
        1 6
        1 8
        3 2
        3 6
        3 8
        5 2
        5 4
        5 6
        5 8